table.game-of-life {
    outline: solid 2px black;
}

td.cell {
    outline: solid 1px black;
    width: 2em;
    height: 2em;
}

td.cell.active {
    outline: solid 1px white;
    width: 2em;
    height: 2em;
    background-color: blue;
}

td input {
    display: none;
}